#slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32vw;
  perspective: 1800px;
  transform-style: preserve-3d;
  margin: 50px 0;
}

input[type=radio] {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

#slider label,
#slider label img {
  position: absolute;
  width: 40%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease-in-out;
}

/* Slider Functionality */

/* Active Slide */
#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
  /* box-shadow: 0 25px 25px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2); */
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
  /* box-shadow: 0 25px 25px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2); */
  transform: translate3d(30%, 0, -100px);
}


/* Next to Next Slide */
#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
  /* box-shadow: 0 25px 25px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2); */
  transform: translate3d(66%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
  /* box-shadow: 0 25px 25px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2); */
  transform: translate3d(-66%, 0, -250px);
}

/* Previous Slide */
#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
  /* box-shadow: 0 25px 25px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2); */
  transform: translate3d(-30%, 0, -100px);
}